body {
	background-color: yellow
}
.container{
	text-align: center;
}
#h1_1 {
	color: purple;
}
#h1_2 {
	color: orange;
}
#p1_1 {
	color: white
}
p{
	width:170px;
	height: 50px;
	background-color: green;
}
#h1_3 {
	color: blue
}
.block {
	display: inline-block;
	margin-right: 60px;
}
.block img {
	width:200px;
	height:200px;
}
.block p{
	background-color: orange;
	padding: 10px 50px;
	margin-top:50px;
	border:3px solid red;
}
